node_modules
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-aux
compile
config.*
configure
install-sh
missing
.idea/
common/cinnamon/cinnamon-dark.css
common/cinnamon/cinnamon.css
common/gnome-shell/**/gnome-shell-dark.css
common/gnome-shell/**/gnome-shell.css
common/gtk-3.0/**/gtk-dark.css
common/gtk-3.0/**/gtk-darker.css
common/gtk-3.0/**/gtk.css
common/gtk-3.0/**/assets/*.png
common/gtk-2.0/assets*/*.png
common/gtk-2.0/menubar-toolbar/*.png
common/xfwm4/assets*/*.png
common/compile-gresources.sh
