node_modules
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-aux
compile
config.*
configure
install-sh
missing
.idea/
common/cinnamon/cinnamon-dark.css
common/cinnamon/cinnamon.css
common/gnome-shell/3.18/gnome-shell-dark.css
common/gnome-shell/3.18/gnome-shell.css
common/gtk-3.0/3.20/gtk-dark.css
common/gtk-3.0/3.20/gtk-darker.css
common/gtk-3.0/3.20/gtk.css
